<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="sphere">
  <link
    name="sphere">
    <inertial>
      <origin
        xyz="0 6.69369832999311E-35 1.0932E-18"
        rpy="0 0 0" />
      <mass
        value="0.45202" />
      <inertia
        ixx="0.00040983"
        ixy="0"
        ixz="0"
        iyy="0.00040983"
        iyz="0"
        izz="0.00040983" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="/home/abhishek/catkin_ws/src/beginner_tutorials/urdf/sphere.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="/home/abhishek/catkin_ws/src/beginner_tutorials/urdf/sphere.STL" />
      </geometry>
    </collision>
  </link>
</robot>
